name: Build and Publish CarrotLink.Core to NuGet

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  publish:
    runs-on: windows-latest 
    
    env:
      PROJECT_PATH: CarrotLink.NET/CarrotLink.Core/CarrotLink.Core.csproj

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x' 
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build Solution
      run: dotnet build --configuration Release --no-restore

    - name: Pack NuGet Package
      run: dotnet pack ${{ env.PROJECT_PATH }} --configuration Release --no-build --output nuget-packages

    - name: Publish to NuGet.org
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
